div{
    border: 1px solid black;
    background-color: white;
    margin: 20px;
    margin-top: 0px;
    text-align: center;
}

#BoxMargin{
    border: 1px dashed black;
}

#BoxBorder{
    background-color: yellow;
}

#BoxPadding{
    border: 1px solid black;
}

#BoxContent{
    border: 1px dashed black;
    padding-bottom: 150px;

}